

.NavBar{
    height: 10%;
    font-size: 30px;
}

.footer{
    height: 10%;
}

.loginBox{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    justify-content: center;
}

.ion-input{
    --background:rgba(151, 151, 151, 0.144);
    border-radius: 3px;
    height: 30px;
}

.usersBox{
    width: 95%;
    justify-content: center;
}

.cardDetailShow{
    width: 100%;
    animation-name: showDetailAnim;
    animation-duration: 0.3s;
}

.invalidFieldText{
    color:#eb445a;
}


@keyframes showDetailAnim {
    from { height: 0px;}
    to {height: 96px;}
}

@keyframes hideDetailAnim {
    from { height: 96px;}
    to {height: 0px;}
}

/* Version de escritorio */
@media only screen and (min-width:1200px) {

    .usersBox{
        width: 98%;
    }
    .loginBox{
        width: 20%;
    }
}